/*Extra CSS Code for Settings*/
body{
  background-color: #E0E1FF;
}

/*CSS for Images*/
#images img {
  height: 300px; 
  width: 300px; 
  object-fit: contain;
  background-size: contain; 
  overflow: hidden; 
  border: 2px solid;}

#images {
  position: relative;
}


/*CSS for Icon*/
#icon {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}

#icon img {
  width:  50px;
  height: 50px;
  background: none;
  border: none;
}